*{
    margin:0px;
    padding: 0px;
}
.header{
    font-family: "Century Gothic";
    background-color: rgb(12, 161, 206);
    height: 150px;

}
.header h1{
    font-family: "Century Gothic";
    font-weight: lighter;
    color: aliceblue;
    font-size: 60px;
    padding-top:45px;
    padding-left: 30px;
}
.midder{
    background-color: rgba(0, 0, 0, 0.788);
    height: 40px;
}
.midder li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    color: aliceblue;
    float:left;
    padding: 10px 0px;
    padding-left: 30px;
    font-size: 20px;
}
.bottom{
    font-family: "Calibri";
    display: table;
    margin-top: 30px;
    margin-left: 60px;
    padding-top: 8px;
    padding-left: 12px;
    width: 800px;
    height: 175px;
    border: 1px solid;
    background-color:aliceblue;   
}
.bottom td{
    padding: 6px;
    font-family: "Bahnschrift";

}
.bottom h2{
    font-family: "Bahnschrift SemiBold";
    font-weight: bold;
}
.last{
    margin-top: 20px;
    margin-left: 35px;
    font-family: "Bahnschrift SemiBold";
    padding-left: 25px;

}
.last p{
    font-family: "Bahnschrift";
    padding: 10px;
    padding-inline-start: 0%;
}
.last h2{
    margin-top: 30px;
    font-family: "Bahnschrift SemiBold";
}
.midder img{
    float: right;
    padding: 8px;
    padding-right: 20px;
}
